include README. md
include requirements. txt
include setup. py
include setup. cfg

recursive-include portfolio_server *.py *.json

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo