include README.md
include LICENSE
include requirements.txt
include setup.py
include setup.cfg
include pyproject.toml

recursive-include portfolio_server *.py *.json
recursive-include assets *

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude . git
global-exclude .gitignore